body {
  text-align: center;
  color: darkblue;
  background-color: lightgray;
}

.float {
  color: white;
  width: 20%;
  float: left;
  border: 6px solid white;
  border-radius: 14%;
  margin-left: 5%;
  margin-right: 5%;
}

#color1{
  background-color: lightblue;
}

#color2{
  background-color: blue;
}

#color3{
  background-color: darkblue;
}